.mainContainer {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.careerSection,
.educationSection {
  padding-bottom: 4rem;
}

.skillsSection {
  background-color: var(--lighter-blue);
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.dots {
  position: absolute;
  top: -100px;
  right: -120px;
  width: 400px;
  height: 400px;
  z-index: 9;
  opacity: 0.4;
  transition: scale .2s ease-in-out;
}

.skillsSectionContent {
  position: relative;
  z-index: 10;
}

.skillsSectionContent .skillTitle {
  padding-top: 1rem;
  padding-bottom: .4rem;
}

.skillsSectionContent li {
  color: var(--muted);
  padding: 0.4rem 0;
}
