.navContainer {
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 999;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.links {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  padding: 94px 30px 80px 30px;
  transition: all 0.3s ease;
  height: 100vh;
  width: 80%;
  background-color: var(--darker-blue);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  list-style-type: none;
}

.links.open {
  right: 0;
}

.link {
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: var(--muted);
  text-transform: uppercase;
  position: relative;
}

.router-link-active {
  color: #fff;
  text-decoration: underline;
}

.link:hover {
  color: #fff;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.linkWrapper {
  padding: 0 26px;
}

.toggleIcon {
  display: flex;
  cursor: pointer;
}

.toggleIcon svg {
  width: 30px;
  height: 30px;
}

.cancelIcon {
  display: none;
}

.cancelIcon svg {
  opacity: 0.5;
  outline: none;
  transition: opacity .2s ease-out;
}

.cancelIcon svg:hover {
  opacity: 1;
}

@media (min-width: 992px) {
  .links {
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .toggleIcon {
    display: none;
  }
}

@media (max-width: 992px) {
  .linkWrapper {
    margin-bottom: 2rem;
  }

  .links:not(.open) {
    right: -100%;
  }

  .cancelIcon {
    display: inline;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}
