.mainContainer {
  padding: 4rem 0;
  width: 60%;
}

.personDescription {
  font-size: 1.2rem;
  color: var(--muted);
}

.resumeButton {
  margin-top: 2rem;
  width: fit-content;
}

.resumeButton svg {
  outline: none;
}

.resumeContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resumeText {
  font-weight: 500;
  padding: 0 1rem;
}

@media (max-width: 992px) {
  .mainContainer {
    width: 100%;
  }

  .personDescription {
    font-size: 1rem;
  }
}

