.mainContainer {
  padding: 4rem 0;
  width: 60%;
}

.personDescription {
  font-size: 1.2rem;
  color: var(--muted);
}

@media (max-width: 992px) {
  .mainContainer {
    width: 100%;
  }

  .personDescription {
    font-size: 1rem;
  }
}

